@media only screen and (min-width:0px) and (max-width:768px) {
  .card {
    width: 100%;
  }

  #main {
    display: block;
    background-color: aqua;
    padding-bottom: 2%;
  }

  .save-contact {
    margin-left:4%;
    display: inline;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    color: white;
    width: 42%;
    border-radius: 100px;
    background-color: black;
    font-weight: bolder;
    font-size: 150%;
  }

  .share {
    margin-left:18%;
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    width: 30%;
    border-radius: 100px;
    background-color: black;
    font-weight: bolder;
    font-size: 150%;
  }

  button:hover {
    background-color: #133044d8;
    color: white;
  }

  li {
    margin-top: 5%;
    font-size: xx-large;
    padding-left: 5%;
    display: inline-flex;
    font-weight: auto;
  }

  li::before {
    content: "•";
    padding-right: 5%;
    font-size: xx-large;
  }

  .phone-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
  }

  .email-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
  }

  .other-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
  }

  .glyphicon {
    margin-right: 3%;
  }

  .socialmedia {
    margin: 5% 0% 10% 3%;
  }

  .fa {
    padding: 0%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: background-color 0.1s ease;
  }

  .fa-linkedin-square {
    background-color: white;
    color: rgba(8, 133, 250, 0.774);
  }

  .fa-github-square {
    background-color: white;
    color: black;
  }

  .fa-facebook-official {
    background-color: white;
    color: rgba(5, 122, 194, 0.76);
  }

  .fa-instagram {
    background-color: white;
    color: red;
  }

  .fa:hover {
    transform: scale(1.2);
  }

}

/* Default styles for all devices */

/* Tablets (768px to 1024px) */
@media only screen and (min-width:769px) and (max-width:1024px){

  /* Styles for tablets go here */
  .card {
    width: 100%;
  }

  #main {
    display:block;
    background-color: aquamarine;
    padding-bottom:2%;
  }

  .save-contact {
    margin-left:2.5%;
    display: inline;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    width: 46%;
    color: white;
    border-radius: 100px;
    background-color: black;
    font-weight: bolder;
    font-size: 300%;
  }

  .share {
    margin-left: 10%;
    display: inline;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    width: 34%;
    border-radius: 100px;
    background-color: black;
    font-weight: bolder;
    font-size: 300%;
  }

  button:hover {
    background-color: #133044d8;
    color: white;
  }

  li {
    margin-top: 5%;
    font-size: xx-large;
    padding-left: 5%;
    display: inline-flex;
    font-weight: auto;
  }

  li::before {
    content: "•";
    padding-right: 5%;
    font-size: xx-large;
  }

  .phone-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
  }

  .email-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
  }

  .other-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
  }

  .glyphicon {
    margin-right: 3%;
  }

  .socialmedia {
    margin: 5% 0% 10% 3%;
  }

  .fa {
    padding: 0%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: background-color 0.1s ease;
  }

  .fa-linkedin-square {
    background-color: white;
    color: rgba(8, 133, 250, 0.774);
  }

  .fa-github-square {
    background-color: white;
    color: black;
  }

  .fa-facebook-official {
    background-color: white;
    color: rgba(5, 122, 194, 0.76);
  }

  .fa-instagram {
    background-color: white;
    color: red;
  }

  .fa:hover {
    transform: scale(1.2);
  }


}

/* PCs (larger screens - 1025px and above) */
@media only screen and (min-width: 1024px){
  /* Styles for PCs go here */

  .card {
    width: 100%;
    padding-left:20%;
    padding-right:20%;
  }

  #main {
    display:block;
    background-color: aquamarine;
    padding-bottom:2%;
  }

  .save-contact {
    margin-left:3%;
    display: inline;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    width: 46%;
    color: white;
    border-radius: 100px;
    background-color: black;
    font-weight: bolder;
    font-size: 250%;
  }

  .share {
    margin-left: 14%;
    display: inline;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    width: 34%;
    border-radius: 100px;
    background-color: black;
    font-weight: bolder;
    font-size: 250%;
  }


}