<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
</head>

<body>
  <div class="main">
    <div id="banner" class="img-thumbnail" style="padding: 0%;margin:0%;border:initial;"></div>
    <div id="profilepic" class="text-center">
      <img class="img-circle" src="/images/user_profilepic.jpg" alt="photo mising">
      <h1 id="responsiveText">User Name</h1>
      <h4 onclick="input()">Web Developer</h4>
    </div>
    <button class="save-contact" onclick="saveContact()">Save Contact</button>
    <button class="share" onclick="shareContent()">Share</button>
    <div class="about">
      <h3>About</h3>
      <p>
        I am a Web Developer at TapMo_India.
        Responsible for making the components Responsive.
        I am looking forward to the software engineering field.
      </p>
    </div>

    <div class="contactme">
      <h3>Contact Me</h3>
      <div class="contact" onclick="whatsApp()">
        <i class="box bi-whatsapp"></i>
        <p id="user_whatsapp" class="box-m">+919315494897</p>
        <i class="fa fa-angle-right" style="font-size:200%;padding-right:2%;"></i>
      </div>
      <hr>

      <div class="contact" onclick="saveContact()">
        <i class="box bi-phone"></i>
        <p id="user_phone_number" class="box-m">+919315494897</p>
        <i class="fa fa-angle-right" style="font-size:200%;padding-right:2%;"></i>
      </div>
      <hr>

      <div class="contact" onclick="mailto()">
        <i class="box bi-envelope"></i>
        <p id="user_email" class="box-m">ssingh.8721382@gmail.com</p>
        <i class="fa fa-angle-right" style="font-size:200%;padding-right:2%;"></i>
      </div>
      <hr>
      <div class="contact" onclick="location()">
        <i class="box bi-link-45deg"></i>
        <p id="user_location" class="box-m">587-chauhan mohalla suraj general store madanpur kahdar new Delhi-110076</p>
        <i class="fa fa-angle-right" style="font-size:200%;padding-right:2%;"></i>
      </div>
      <hr>

    </div>
    <div class="social">
      <h3>Social Networks</h3>
      <div style="margin-top: 5%;">
        <div class="btnicon">
          <a href="https://www.facebook.com/profile.php?id=100072802183671">
            <img src="/icons/facebook.svg" class="img-fluid">
          </a>
        </div>

        <div class="btnicon">
          <a href="https://www.instagram.com/suraj_singh110076?igshid=OGQ5ZDc2ODk2ZA==">
            <img src="/icons/instagram.svg" class="img-fluid">
          </a>
        </div>
        <div class="btnicon">
          <a href="https://www.youtube.com/channel/UCkJHvC7hs4NlGdy1oz7-agg">
            <img src="/icons/youtube.svg" class="img-fluid"></a>
        </div>
        <div class="btnicon">
          <a href="https://twitter.com/surajsingh31572">
            <img src="/icons/twitter.svg" class="img-fluid">
          </a>
        </div>
        </a>
      </div>
    </div>
  </div>
  <script>
    function adjustFontSize() {
      let screenWidth = window.innerWidth;
      var letter = document.getElementById('responsiveText').innerText.trim().split(/\s+/);
      function sortByLength(a, b) {
        return a.length - b.length;
      }

      // Sorting the array using the custom comparison function
      const letterSortesBylength = letter.sort(sortByLength);

      var letterCount = letterSortesBylength[letterSortesBylength.length - 1].length;

      // Adjust font size based on letter count and screen width
      var fontSize;
      if (letterCount <= 6) {
        fontSize = Math.max(3, Math.min(40, screenWidth / letterCount));
      }
      else if (letterCount > 6 && letterCount <= 10) {
        fontSize = Math.max(3, Math.min(26, screenWidth / letterCount));
      }
      else if (letterCount > 10 && letterCount <= 15) {
        fontSize = Math.max(3, Math.min(20, screenWidth / letterCount));
      }
      else if (letterCount > 15 && letterCount <= 20) {
        fontSize = Math.max(3, Math.min(28, screenWidth / letterCount));
      }
      else if (letterCount > 20 && letterCount <= 25) {
        fontSize = Math.max(3, Math.min(12, screenWidth / letterCount));
      }
      else if (letterCount > 25 && letterCount <= 30) {
        fontSize = Math.max(3, Math.min(8, screenWidth / letterCount));
      }
      else if (letterCount > 30 && letterCount <= 35) {
        fontSize = Math.max(3, Math.min(6, screenWidth / letterCount));
      }
      else if (letterCount > 35 && letterCount <= 40) {
        fontSize = Math.max(3, Math.min(5, screenWidth / letterCount));
      }
      else if (letterCount > 40 && letterCount <= 45) {
        fontSize = Math.max(3, Math.min(4, screenWidth / letterCount));
      }
      else if (letterCount > 45 && letterCount <= 50) {
        fontSize = Math.max(3, Math.min(3, screenWidth / letterCount));
      }

      document.getElementById('responsiveText').style.fontSize = `${fontSize}` + 'px';
    }

    // Adjust font size on initial load
    adjustFontSize();

    // Adjust font size on window resize
    window.addEventListener('resize', adjustFontSize);
  </script>

  <script>
    function saveContact() {
      const phone = document.getElementById('user_phone_number').innerText;
      const phonelink = 'tel:' + encodeURIComponent(phone);
      // Open in calling app
      window.open(phonelink, '_blank');
    }
    function shareContent() {
      if (navigator.share) {
        navigator.share({
          title: "Portfolio",
          url: "https://x3r7pwpp-8080.inc1.devtunnels.ms/"
        })
          .then(() => console.log("shared succesfully"))
          .catch((error) => console.error('Sharing Error:', error));
      } else {
        alert("Sharing Failed your browser does not supports sharing functionality you can share manually");
      }
    }
    function mailto() {
      const email = document.getElementById('user_email').innerText;
      const mailto = 'mailto:' + encodeURIComponent(email);
      // Open mail in emaoil app
      window.open(mailto, '_blank');
    }
    function whatsApp() {
      const whatsapp_number = document.getElementById('user_whatsapp').innerText;
      const whatsappme = 'https://api.whatsapp.com/send/?phone=%2B' + encodeURIComponent(whatsapp_number.substring(1, whatsapp_number.length)) + '&text&type=phone_number&app_absent=0';
      // Open WhatsApp link in a new tab in phone in app
      window.open(whatsappme, '_blank');
    }
    function location(){
      const input_location=document.getElementById('user_location').innerText;
      const maplocation= '#';
      // open the link in the map app and in pc in new tab
      window.open(maplocation, '_blank');
    }
  </script>

</body>

</html>